<!--Created the component for register the customer-->\
<!--mt margintop in bootstrap-->
<div class="container">

  <!--For showing the customer data-->
  <div class="row mt-3">
    <h6 class="display-6">Customer Page</h6>
    <div class="row mt-4 p-3">
      <span class="col-3">
        Customer Name : 
        <span class="text-monospace fs-5"> 
           {{Customer.Name}}
        </span>
      </span>
      <span class="col-3">
        Customer Emial : 
        <span class="text-monospace fs-5"> 
           {{Customer.Email}}
        </span>
      </span>
      <span class="col-3">
        Customer Password : 
        <span class="text-monospace fs-5"> 
           {{Customer.Password}}
        </span>
      </span>
    </div>
  </div>

  <!--
      1.What is $event contains here ?
      Ans : It contains the data which is emitted | injected by event emitter 

      2. How to configure the variable which is decorated by output ?
      Ans : Based on the event based syntax

      3. How to configure the variable which is decorated by input ?
      Ans : Based on the property based syntax
  -->

  <div class="row mt-4">
    <div class="col-md-5">
      <app-customer-registration 
      [CustomerInfo] = "Customer"
      (CustomerEventEmitter) = "evtCustomerReceiveInfo($event)">
      </app-customer-registration>
    </div>
    <div class="col-md-5">
      <app-customer-details [LatestInputCustomerRecord] = "CustomerLatestRecord"></app-customer-details>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-md-5">
      <app-customer-registration-history></app-customer-registration-history>
    </div>
  </div>
</div>
