<div class="card h-100">
  <div class="card-header bg-success text-white">
    <div class="row">
      <div class="col-10">
        <span>Customers Registration History</span>
      </div>
      <div class="col-2">
        <input type="button" 
        value="Get"
         class="btn btn-primary pl-4 pr-4"
         (click)="evtGetLatestRecords()" />
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of CustomerRecords;let index = index">
          <td>{{ index+1 }}</td>
          <td>{{item.Name}}</td>
          <td>{{item.Email}}</td>
          <td>{{item.Password}}</td>
        </tr>
        <!-- <tr>
          <td>1</td>
          <td>John Doe</td>
          <td>john@example.com</td>
          <td>Message is</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jane Smith</td>
          <td>jane@example.com</td>
          <td>Message is</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Michael Johnson</td>
          <td>michael@example.com</td>
          <td>Message is</td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
