<div class="card h-100">
  <div class="card-header bg-secondary text-white">
    Customer Registraion Latest Record
  </div>
  <div class="card-body">
    <form>
      <!-- <div class="mb-2 row">
        <label class="col-sm-3 col-form-label">Name</label>
        <p class="">Customer 1</p>
      </div>
      <div class="mb-2 row">
        <label class="col-sm-3 col-form-label">Email</label>
        <p class="">Email 1</p>
      </div>
      <div class="mb-5 row">
        <label class="col-sm-3 col-form-label">Message</label>
        <p class="">Customer Message 1</p>
      </div> -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="bullet-icon"></span>
          <label class="col-sm-3 col-form-label">Name</label>
          <p class="">Customer 1</p>
        </li>
        <li class="list-group-item">
          <span class="bullet-icon"></span>
          <label class="col-sm-3 col-form-label">Email</label>
          <p class="">Email 1</p>
        </li>
        <li class="list-group-item">
          <span class="bullet-icon"></span>
          <label class="col-sm-3 col-form-label">Message</label>
          <p class="">Customer Message 1</p>
        </li>
      </ul>
    </form>
  </div>
</div>